<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/graph.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>

<body>
    
    <nav>
      <a href="/">Home Page</a>
      <a href="/graph">Graph</a>
    </nav>
    
    <!--<h1>This is the graph</h1>-->
    <canvas id="chart" style="max-width: 700px;width: 100%;"></canvas>
    <canvas id="chart2" style="max-width: 700px;width: 100%;"></canvas>
    <canvas id="chart3" style="max-width: 700px;width: 100%;"></canvas>
</body>
<script src="js/graph.js"></script>
</html>